<template>
  <div>
    <img src="./assets/logo.png" alt="Vue logo">
    <!-- Static value -->
    <greeting-Message first-name="Mark" last-name="Zuckerberg"/>
    <greeting-Message first-name="Elon" last-name="Musk"/>
    <greeting-Message first-name="Bill" last-name="Gate"/>
    <!-- Dynamic value -->
    <hr>
    <greeting-Message :first-name="fName" v-bind:last-name="lName"/>
    <greeting-message v-bind:full-Name="fullName"/>
  </div>
</template>

<script>
import GreetingMessage from './components/GreetingMessage.vue';
  export default {
    name:'App',
    data() {
      return {
        fName: 'Jhon',
        lName:'Doe',
      }
    },
    computed:{
      fullName(){
        return this.fName + this.lName
      }
    },
    components: {
      GreetingMessage,
    },
  }
</script>

<style>
  #app{
    text-align: center;
  }
</style>